<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

	<title> Admin </title>	
	<link rel="stylesheet" href="/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"> 
	<script src="/js/jquery-3.6.0.min.js"> </script>
	<script src="/js/bootstrap.min.js"> </script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"> </script>
	
</head>


<body>	


<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Global Company</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Services</a>
      </div>
    </div>
  </div>
</nav>

	<div class="modal fade" id="mymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-tittle" id="exampleModalLabel">Modal title</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div>
	  </div>
	</div>

	<div align="middle" class="container">
	<h1> Admin Access </h1>
	<p align="right"> 
		<button onclick = "addform()" class="btn btn-primary btn-sm mb-3"> Add Admin </button>
	</p>
	<table class="table" id="myTable">
		<thead>
				<tr>
					<th>
						Email
					</th>
					<th>
						Username
					</th>
					<th>
						Password
					</th>
					<th>
						Fullname
					</th>
					<th> 
						Actions 
					</th>
				</tr>
		</thead>
		<tbody>
			<tr th:each="item: ${listadmin}">
				<td th:text="${item.email}"></td>
				<td th:text="${item.userName}"></td>
				<td th:text="${item.password}" ></td>
				<td th:text="${item.fullname}"></td>
				<td> 
					<button th:value="${item.id}" onclick="editform(this.value)" class="btn btn-labeled btn-primary">
							<span class="btn-label">
								<i class="fa fa-pencil"></i>
							</span>
					</button>
					<button th:value="${item.id}" onclick="delform(this.value)" class="btn btn-labeled btn-danger">
							<span class="btn-label">
								<i class="fa fa-trash"></i>
							</span>
					</button>
				</td>
			</tr>
			
		</tbody>	
	</table>
	<script>
		$(document).ready(function () {$('#myTable').DataTable();});
				
		function addform(){
			$.ajax({
				url : '/admin/form',
				type : 'get',
				contentType : 'html',
				success : function(result){
					$('#mymodal').modal('show')
					$('.modal-tittle').html('Form Tambah Admin')
					$('.modal-body').html(result)
				}
			})
		}	
	</script>
	</div>
<div style="padding: 10 rem;">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Global Company, Lead The World</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/home" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/category/index" class="nav-link px-2 text-muted">Employee</a></li>
      <li class="nav-item"><a href="/variant/index" class="nav-link px-2 text-muted">Mission</a></li>
      <li class="nav-item"><a href="/product/index" class="nav-link px-2 text-muted">Product</a></li>
      <li class="nav-item"><a href="/order/index" class="nav-link px-2 text-muted">Services</a></li>
    </ul>
  </footer>
</div>
  
</body>
</html>
