.txtnama{

	background-color:lightblue;
	padding:5px;
	margin:5px;
	border: 1px solid red;
	border-radius: 10px;
}
.tombol{
	backgorund-color: blue;
	padding:12px;
	margin:5px;
	border:0px;
	border-radius: 5px;
	color:white;
	font-weight:bold;
}
.tombol:hover{
	background-color:blue;
	color:yellow;
}
.formtable{
	border:1px solid lightgray;
	background-color:lightyellow;
}
td{
	border:1px solid lightgray;
	padding:10px;
	font-family:helvetica;
}

