<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

	<title> Employee Management</title>	
	<link rel="stylesheet" href="/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="/css/mug.css">  
	<script src="/js/jquery-3.6.0.min.js"> </script>
	<script src="/js/bootstrap.min.js"> </script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"> </script>
	
</head>


<body>	


<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/landingpage">Global Company</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Services</a>
      </div>
    </div>
  </div>
</nav>

	<div class="modal fade" id="mymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	      </div>
	    </div>
	  </div>
	</div>

	<div align="middle" class="container">
	<h1 align="left"> Admin Home </h1>
	
	<h4 align="left">Welcome,</h4><h4 align="left" th:text="${userName}"></h4>
	
	
	
	<div class="row">
	  <div class="col-sm-6" onclick = "employeepage()">
	    <div class="card border-primary mb-3" style="height: 21rem; width:18rem;">
		  <img src="https://img.freepik.com/free-vector/managers-meeting-business-mentorship-workers-conference-company-strategy-discussion-mentor-teaching-employees-teamwork-cooperation_335657-3453.jpg?w=740&t=st=1658201230~exp=1658201830~hmac=b02618c3ceec03a339365a02d8d4eabd5c7f8fd6fa29401135aae2db22cfff4b" class="wow fadeInUp" style="height: 20rem; width:15rem;" alt="Employee List">
		  <div class="card-img-overlay" >
		    <h5 class="card-title" style="color:rgb(0, 128, 255)" >Employee List</h5>
		    <p class="card-text"></p>
		  </div>
		</div>
	  </div>
	  <div class="col-sm-6" onclick = "adminpage()">
		<div class="card border-primary mb-3" style="height: 21rem; width:18rem;">
		  <img src="https://img.freepik.com/free-vector/corporate-meeting-employees-cartoon-characters-discussing-business-strategy-planning-further-actions-brainstorming-formal-communication-seminar_335657-2681.jpg?w=740&t=st=1658201232~exp=1658201832~hmac=653d8a11c12f8507093b3c6fab88ae1342822088f3976763743eba568e85daa7" class="card-img" style="height: 20rem; width:15rem;" alt="Admin List">
		  <div class="card-img-overlay">
		    <h5 class="card-title" style="color:rgb(0, 128, 255)">Admin List</h5>
		    <p class="card-text"></p>
		  </div>
		</div>
	  </div>
	</div>

	</div>
	
	<script>
	
		function employeepage(){
			
			window.open('/employee/index','_self')
			
		}
		
		function adminpage(){
			
			window.open('/admin/index','_self')
			
		}
				
	</script>

<div style="padding: 10 rem;">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Global Company, Lead The World</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/home" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/category/index" class="nav-link px-2 text-muted">Employee</a></li>
      <li class="nav-item"><a href="/variant/index" class="nav-link px-2 text-muted">Mission</a></li>
      <li class="nav-item"><a href="/product/index" class="nav-link px-2 text-muted">Product</a></li>
      <li class="nav-item"><a href="/order/index" class="nav-link px-2 text-muted">Services</a></li>
    </ul>
  </footer>
</div>
  
</body>
</html>
