<html lang="en" xmlns="http://www.thymeleaf.org">


<table  th:each="item : ${employee}" class="table table-borderless">
	<tr>
		<td>First Name</td>
		<td> : </td>
		<td ><input type="text" th:value="${item.firstname}" disabled></td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td> : </td>
		<td><input type="text" th:value="${item.lastname}" disabled></td>
	</tr>
	<tr>
		<td>Email</td>
		<td> : </td>
		<td><input type="text" th:value="${item.email}" disabled></td>
	</tr>
	<tr>
		<td colspan="3" align="middle"><button th:value="${item.Id}" onclick="del(this.value)" >Delete</button></td>
	</tr>
</table>

	<script>
	function del(id){
			location.replace('/employee/del/'+id)
	}
	</script>

</html>